$height:("main":300px, "maininput":40px, "maininputbtn":40px);
$width :("main":300px, "maininput":300px, "maininputbtn":305px);

$margin:("main":auto, "mainT":250px, "maininputT":10px, "inputsubmitT":40px, );
$padding:("main":50px, );

$bgcolor:("body":rgb(168, 171, 168), "main":rgb(20, 100, 78), "maininput":#ddd, "inputsubmit":white, "inputsubmithover":rgb(10, 51, 40));
$color:("mainform":white, "inputsubmithover":rgb(20, 100, 78), );

$fontsize:("mainform":20px, "maininput":16px, "inputsubmit":20px, );

$border:("maininput":none);
$outline:("maininput":none);
$textalign:("inputsubmit":center);
$fontweight:("inputsubmit":600);